[flake8]
application_import_names = about, catalog, core, download, feedback, homepage, lyceum, rating, users
inline-quotes = double
exclude = .git, __pycache__, migrations, venv
import-order-style = google
max-line-lenght = 79