[flake8]
application_import_names = about, catalog, core, download, homepage, lyceum
inline-quotes = double
exclude = .git, __pycache__, migrations, venv
import-order-style = google
max-line-lenght = 79