{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Войти" %}
{% endblock title %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<form method="POST" action='{% url "users:login" %}'>
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        <div>{{ error }}</div>
      {% endfor %}
      </div>
    {% endif %}
    {% for field in form.visible_fields %}
      <div class="mb-3 {% if field.widget_type == 'checkbox' %}form-check{% endif %}">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if form.is_bound and field.errors %}
          {% for error in field.errors %}
            <div class="invalid-feedback d-block">
              {{ error }}
            </div>
          {% endfor %}
        {% endif %}
        {% if field.help_text %}
          <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">{% trans "Войти" %}</button>
    <a href="#" class="btn btn-link">{% trans "Забыли пароль?" %}</a>
  </form>
{% endblock content %}