{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Детали товара' %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ item.name }}</h1>
    {% if main_image %}
        <div class="col-md-3 mb-3">
            <img src="{{ main_image.get_image_x1280.url }}" alt="Main Image" class="img-thumbnail">
        </div>
    {% endif %}
    <p>{{ item.text|safe }}</p>
    <p>Категория: {{ item.category.name }}</p>
    <p>Тэги:
        {% for tag in item.tags.all %}
            <span class="badge bg-secondary">{{ tag.name }}</span>
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
    <h2>Изображения галереи</h2>
    <div class="row">
      {% for gallery_image in item.gallery_images.all %}
          <div class="col-md-3 mb-3">
              <img src="{{ gallery_image.get_image_300x300.url }}" alt="Gallery Image" class="img-thumbnail">
          </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}
