<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Детали товара' %}{% endblock %}

{% block content %}
<div class="container">
{% if messages %}
{% for message in messages %}
  <div class="alert alert-success" role="alert">
    {{ message }}
  </div>
{% endfor %}
{% endif %}

<h1>{{ item.name }}</h1>

{% if average_rating %}
    <p>Средняя оценка: {{ average_rating|floatformat:"1" }} ({{ total_ratings }} оценок)</p>
{% else %}
    <p>Пока товар не оценен</p>
{% endif %}

{% if user_rating %}
    <div class="mb-3">
        <p class="font-weight-bold">Ваша оценка: {{ user_rating.get_value_display }}</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ rating_form.as_p }}
            <button type="submit" class="btn btn-primary mr-2 btn-sm">Изменить оценку</button>
        </form>
        <form method="post" action="{% url 'catalog:delete-rating' item.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Удалить оценку</button>
        </form>
    </div>
{% elif request.user.is_authenticated %}
    <div class="mb-3">
        <form method="post" action="">
            {% csrf_token %}
            {{ rating_form.as_p }}
            <button type="submit" class="btn btn-primary">Оценить товар</button>
        </form>
    </div>
{% endif %}

{% if item.main_image %}
  <div class="col-md-3 mb-3">
    <a href="{% url 'download:download-image' item.main_image.image.name %}" class="btn btn-primary btn-download" download>
      {% trans 'Скачать картинку' %}
    </a>
    <img src="{{ item.main_image.get_image_x1280.url }}" alt="Main Image" class="img-thumbnail">
  </div>
{% endif %}
<p>{{ item.text|safe }}</p>
<p>{% trans 'Категория' %}: {{ item.category__name }}</p>
<p>{% trans 'Тэги' %}:
  {% for tag in item.tags.all %}
    {{ tag.name }}
    {% if not forloop.last %},{% endif %}
  {% endfor %}
</p>
<h2>{% trans 'Изображения галереи' %}</h2>
<div class="row">
  <div class="row">
    {% for gallery_image in item.gallery_images.all %}
      <div class="col-md-3 mb-3">
        <a href="{% url 'download:download-image' gallery_image.image.name %}" class="btn btn-primary btn-download" download>
          {% trans 'Скачать картинку' %}
        </a>
        <img src="{{ gallery_image.get_image_300x300.url }}" alt="Gallery Image" class="img-thumbnail">
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
