<!DOCTYPE html>
{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Главная' %}{% endblock %}

{% block content %}
<h1>{% trans 'Добро пожаловать на главную страницу сайта одного из страдальцев специализации Яндекс Лицея "Django"!' %}</h1>
<p>{% trans 'Очень надеюсь, что злой енотик не попадет в мой репозиторий и не напишет ишьюсы в 2 раза больше самого задания' %}</p>
{% load static %}
<img src="{% static 'img/enot.jpg' %}" alt="image-error" class="img-fluid mt-3" width="500" height="250">
<hr>
<h2>{% trans 'Список товаров' %}</h2>
<hr>

{% for item in items %}
<div class="row">
  {% include 'includes/item_card.html' %}
</div>
{% empty %}
  {% trans "К сожалению, здесь пока ничего нет" %}
{% endfor %}

{% endblock %}