{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h1>Добро пожаловать на главную страницу сайта одного из страдальцев специализации Яндекс Лицея "Django"!</h1>
<p>Очень надеюсь, что злой енотик не попадет в мой репозиторий и не напишет ишьюсы в 2 раза больше самого задания :)</p>
{% load static %}
<img src="{% static 'img/enot.jpg' %}" alt="Фото злого енотика" class="img-fluid mt-3" width="500" height="250">

<h2>Список товаров</h2>
<div class="row">
    {% for item in items %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">Текст: {{ item.text }}</p>
                <a href="{% url 'catalog:item_detail' pk=item.pk %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}